.header {
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #f5cc52, #78e3e1);
  border-image-slice: 1;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 5vw;
    max-width: 1400px;
    margin: 0 auto;
  }

  &__logo {
    line-height: 1;
    font-size: 28px;
    font-weight: 400;

    a {
      color: white;
      text-decoration: none;
    }

    &-text {
      font-weight: 300;
      color: #ffffff;
    }

    &-accent {
      font-weight: 700;
      color: #ffffff;
    }
  }

  &__nav {
    &--open {
      display: block;
    }

    &-list {
      display: flex;
      gap: 2.5rem;
      list-style: none;
      align-items: center;
      margin: 0;
      padding: 0;

      li a {
        color: #d0d0d0;
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }

  &__mobile-toggle {
    display: none;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
    gap: 4px;

    span {
      height: 2px;
      width: 20px;
      background-color: #fff;
    }
  }

  // Responsive
  @media (max-width: 768px) {
    &__nav {
      display: none;
    }

    &__mobile-toggle {
      display: flex;
    }

    &__container {
      flex-direction: row;
    }

    &__logo {
      font-size: 22px;
    }
  }
}
